/* 
- Name: megamenu.js - style.css
- Version: 1.0
- Latest update: 29.01.2016.
- Author: Mario Loncarek
- Author web site: http://marioloncarek.com
*/
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
megamenu.js STYLE STARTS HERE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

// メニュー区切り線：右
@mixin partition-line-right {
	&:after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		right: 1px;
		z-index: 100;
		margin: auto 0;
		background: white;
		width: 1px;
		height: 20px;
		display: block;
	}
}

.menu-container {
	width: 100%;
	margin: 0 auto;
}

.menu-mobile {
	display: none;
	padding: 20px;
	background-color: $color-main;
	color: white;
	@include media(sp) {
		display: block;
	}
	// mobile menu icon
	&:after {
		content: url(#{$imgDir}icon_menu.png);
		width: 32px;
		height: 32px;
		padding: 0;
		float: right;
		position: relative;
		top: 50%;
		transform: translateY(-15%);
	}
}

.menu-dropdown-icon:before {
	content: url(#{$imgDir}icon_arrow_down.png);
	width: 32px;
	height: 32px;
	display: none;
	cursor: pointer;
	float: right;
	padding-top: 10px;
	padding-right: 20px;
	@include media(sp) {
		display: block;
	}
}

.menu > ul { // 大メニュー
	position: relative;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	list-style: none;
	background: $color-main;
	margin: 0 auto;
	padding: 0;
	/* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
	box-sizing: border-box;
	@include media(sp) {
		display: none;
		flex-flow: column;
		&.show-on-mobile {
			display: block;
		}
	}
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	> li { // 大メニューの各ナビ
		width: calc(100% / 3);
		transition: 0.3s ease;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		@include partition-line-right;
		&:last-child {
			&:after {
				content: none;
			}
		}
		@include media(sp) {
			width: 100%;
			display: block;
			&:after {
				content: none;
			}
		}
		a {
			display: block;
			padding: 10px 0;
			@include font-size(20);
			font-weight: 500;
			color: white;
			text-align: center;
			width: 100%;
			@include media(sp) {
				text-align: left;
				padding: 15px 10px;
			}
		}
		> ul { // ドロップダウンメニュー
			display: none;
			position: absolute;
			top: 50px;
			left: 0;
			width: 100%;
			background: $color-main;
			padding: 20px;
			margin: 0;
			z-index: 99;
			box-sizing: border-box;
			@include media(sp) {
				position: relative;
				top: 0;
				&.normal-sub {
					width: 100%;
				}
			}
			&:before {
				content: "";
				display: table;
			}
			&:after {
				content: "";
				display: table;
				clear: both;
			}
			> li { // ドロップダウンメニュー内の各ナビタイトル
				float: left;
				width: calc(100% / 3);
				@include media(sp) {
					float: none;
					width: 100%;
				}
				a {
					display: block;
					width: 100%;
					text-align: left;
					border-bottom: 1px solid white;
					font-weight: 400;
					@include font-size(16);
					@include hoverOpc;
				}
				/*
				> ul { // ドロップダウンメニュー内の最小単位のナビ
					display: block;
					margin: 10px 0 0;
					box-sizing: border-box;
					@include media(sp) {
						position: relative;
					}
					&:before {
						content: "";
						display: table;
					}
					&:after {
						content: "";
						display: table;
						clear: both;
					}
					> li {
						float: left;
						width: 100%;
						@include font-size(13);
						@include media(sp) {
							float: none;
						}
						a {
							border: 0;
							@include hoverUnderline;
						}
					}
				}*/
			}
			// メインメニューホバー時に表示されるサブメニューul
			&.normal-sub {
				//width: 300px;
				width: 100%;
				//left: auto;
				left: 0;
				> li {
					width: 100%;
				}
			}
		}
	}
}
