@charset "UTF-8";
/* Scss Document */
/*! ============================================
※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
このCSSファイルはSassから生成されていますので、
編集しないようご注意ください。
※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
============================================= */
/* Reset CSS
---------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: none;
}

address, em {
  font-style: normal;
}

img {
  vertical-align: bottom;
}

/* Fonts
---------------------------------------------------*/
body {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  font-weight: 500;
}

/* clearfix
---------------------------------------------------*/
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

/* Scss Document */
/* 記述例
p {
  @include font-size(12);
}*/
.red {
  color: #e50012;
  font-weight: bold;
}

/* 記述例
@include media(sp) {
	background-color: green;
}*/
html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  font-weight: 400;
  color: #170b0b;
  line-height: 1.5;
  background: #fcf7f7;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::after {
  box-sizing: border-box;
}

.l-inner {
  min-width: 320px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.l-inner:after {
  content: "";
  clear: both;
  display: block;
}

a {
  text-decoration: none;
  color: #6e3533;
  outline: none;
}

.nolink a, .nolink-bg a {
  pointer-events: none;
  cursor: default;
}

.nolink a {
  opacity: 0.5;
}

.nolink-bg {
  background-color: #cccccc !important;
}

/* 
- Name: megamenu.js - style.css
- Version: 1.0
- Latest update: 29.01.2016.
- Author: Mario Loncarek
- Author web site: http://marioloncarek.com
*/
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
megamenu.js STYLE STARTS HERE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.menu-container {
  width: 100%;
  margin: 0 auto;
}

.menu-mobile {
  display: none;
  padding: 20px;
  background-color: #ba7472;
  color: white;
}
@media screen and (max-width: 768px) {
  .menu-mobile {
    display: block;
  }
}
.menu-mobile:after {
  content: url(../img/icon_menu.png);
  width: 32px;
  height: 32px;
  padding: 0;
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-15%);
}

.menu-dropdown-icon:before {
  content: url(../img/icon_arrow_down.png);
  width: 32px;
  height: 32px;
  display: none;
  cursor: pointer;
  float: right;
  padding-top: 10px;
  padding-right: 20px;
}
@media screen and (max-width: 768px) {
  .menu-dropdown-icon:before {
    display: block;
  }
}

.menu > ul {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  list-style: none;
  background: #ba7472;
  margin: 0 auto;
  padding: 0;
  /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .menu > ul {
    display: none;
    flex-flow: column;
  }
  .menu > ul.show-on-mobile {
    display: block;
  }
}
.menu > ul:before {
  content: "";
  display: table;
}
.menu > ul:after {
  content: "";
  display: table;
  clear: both;
}
.menu > ul > li {
  width: calc(100% / 3);
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.menu > ul > li:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1px;
  z-index: 100;
  margin: auto 0;
  background: white;
  width: 1px;
  height: 20px;
  display: block;
}
.menu > ul > li:last-child:after {
  content: none;
}
@media screen and (max-width: 768px) {
  .menu > ul > li {
    width: 100%;
    display: block;
  }
  .menu > ul > li:after {
    content: none;
  }
}
.menu > ul > li a {
  display: block;
  padding: 10px 0;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .menu > ul > li a {
    text-align: left;
    padding: 15px 10px;
  }
}
.menu > ul > li > ul {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background: #ba7472;
  padding: 20px;
  margin: 0;
  z-index: 99;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .menu > ul > li > ul {
    position: relative;
    top: 0;
  }
  .menu > ul > li > ul.normal-sub {
    width: 100%;
  }
}
.menu > ul > li > ul:before {
  content: "";
  display: table;
}
.menu > ul > li > ul:after {
  content: "";
  display: table;
  clear: both;
}
.menu > ul > li > ul > li {
  float: left;
  width: calc(100% / 3);
  /*
  > ul { // ドロップダウンメニュー内の最小単位のナビ
  	display: block;
  	margin: 10px 0 0;
  	box-sizing: border-box;
  	@include media(sp) {
  		position: relative;
  	}
  	&:before {
  		content: "";
  		display: table;
  	}
  	&:after {
  		content: "";
  		display: table;
  		clear: both;
  	}
  	> li {
  		float: left;
  		width: 100%;
  		@include font-size(13);
  		@include media(sp) {
  			float: none;
  		}
  		a {
  			border: 0;
  			@include hoverUnderline;
  		}
  	}
  }*/
}
@media screen and (max-width: 768px) {
  .menu > ul > li > ul > li {
    float: none;
    width: 100%;
  }
}
.menu > ul > li > ul > li a {
  display: block;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid white;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  transition: opacity 0.3s ease;
}
.menu > ul > li > ul > li a:hover {
  opacity: 0.5;
}
.menu > ul > li > ul.normal-sub {
  width: 100%;
  left: 0;
}
.menu > ul > li > ul.normal-sub > li {
  width: 100%;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.title {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}
.title:after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background-color: #170b0b;
  margin: 30px auto 0;
}

.title2 {
  color: white;
  font-size: 20px;
  font-size: 1.25rem;
  text-align: center;
  background-color: #ba7472;
  padding: 6px 0;
}

.title3 {
  font-weight: 400;
  font-size: 26px;
  font-size: 1.625rem;
  border-left: 5px solid #ba7472;
  border-bottom: 1px solid #ba7472;
  padding-left: 10px;
}

.headInfo {
  background-color: white;
}
.headInfo .l-inner:after {
  content: none;
}
.headInfo--inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .headInfo--inner {
    flex-flow: row wrap;
    padding: 5px;
  }
}
.headInfo__logo {
  margin: 10px 20px 5px 0;
}
@media screen and (max-width: 768px) {
  .headInfo__logo {
    margin: 10px 10px 5px 0;
  }
}
.headInfo__logo img {
  width: 260px;
}
@media screen and (max-width: 768px) {
  .headInfo__logo img {
    width: 200px;
  }
}
.headInfo__date {
  margin-top: 20px;
  margin-right: 20px;
  font-size: 18px;
  font-size: 1.125rem;
}
@media screen and (max-width: 768px) {
  .headInfo__date {
    font-size: 14px;
    font-size: 0.875rem;
    margin-top: 10px;
  }
}
.headInfo__date dt {
  clear: left;
  float: left;
  width: 4em;
  background-color: #ba7472;
  color: white;
  text-align: center;
}
.headInfo__date dd {
  padding-left: 4.5em;
}
.headInfo__date dd:nth-of-type(1) {
  margin-bottom: 5px;
}
.headInfo__btn {
  width: 200px;
  display: flex;
  flex-flow: row nowrap;
}
@media screen and (max-width: 768px) {
  .headInfo__btn {
    width: 100%;
    margin-top: 5px;
  }
}
.headInfo__btn li {
  width: 100px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-size: 1.25rem;
  transition: opacity 0.3s ease;
}
.headInfo__btn li:hover {
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
  .headInfo__btn li {
    width: calc(100% / 2);
  }
}
.headInfo__btn li:nth-child(1) {
  background-color: #e50012;
}
.headInfo__btn li:nth-child(2) {
  background-color: #1900da;
}
.headInfo__btn li:nth-child(3) {
  background-color: #962bda;
}
.headInfo__btn li a {
  display: block;
  width: 100%;
  color: white;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .headInfo__btn li a {
    font-size: 16px;
    font-size: 1rem;
  }
}

nav {
  background-color: #ba7472;
  box-shadow: 0px 9px 3px -3px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}

.keyVisual {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.keyVisual__slider img {
  max-width: none;
}

.subVisual {
  width: 100%;
  height: 200px;
  background: url(../img/bg_sub01.jpg) center center/cover no-repeat #ba7472;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subVisual__title {
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 500;
  color: white;
  padding: 5px 30px;
  background: rgba(220, 106, 102, 0.7);
}

.subVisual-02 {
  background: url(../img/bg_sub02.jpg) center center/cover no-repeat #ba7472;
}

.subVisual-03 {
  background: url(../img/bg_sub03.jpg) center center/cover no-repeat #ba7472;
}

.subVisual-04 {
  background: url(../img/bg_sub04.jpg) center center/cover no-repeat #ba7472;
}

.information {
  background: white;
}
.information--inner {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 20px;
}
.information--inner:before {
  content: "";
  display: block;
  width: 0;
  min-height: 100px;
}
@media screen and (max-width: 768px) {
  .information--inner {
    width: 100%;
    flex-flow: column;
  }
  .information--inner:before {
    min-height: 0;
  }
}
.information__title {
  width: 20%;
  padding-right: 4em;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .information__title {
    width: 100%;
    text-align: center;
    padding-right: 0;
    padding-bottom: 1em;
  }
}
.information__body {
  padding-left: 4em;
  border-left: 1px solid #170b0b;
}
@media screen and (max-width: 768px) {
  .information__body {
    padding-left: 0;
    padding-right: 0;
    border-left: none;
  }
}
.information__body dt {
  clear: both;
  float: left;
  width: 7em;
}
@media screen and (max-width: 768px) {
  .information__body dt {
    float: none;
  }
}
.information__body dd {
  margin-left: 7em;
}
@media screen and (max-width: 768px) {
  .information__body dd {
    margin-left: 0;
    margin-bottom: 1em;
  }
}
.information__body dd a {
  position: relative;
  display: inline-block;
}
.information__body dd a::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #ba7472;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.information__body dd a:hover::after {
  transform: scale(1, 1);
}

.showInfo--inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 50px 0 50px;
}
@media screen and (max-width: 768px) {
  .showInfo--inner {
    padding: 30px 0 30px;
  }
}
@media screen and (max-width: 768px) {
  .showInfo--inner {
    flex-flow: column;
  }
}
.showInfo__outline {
  width: 55%;
}
@media screen and (max-width: 768px) {
  .showInfo__outline {
    width: 100%;
    margin-bottom: 20px;
  }
}
.showInfo__outline__body {
  background-color: white;
  padding: 20px;
}
.showInfo__outline__body dt {
  clear: left;
  float: left;
  width: 7em;
  background-color: #ba7472;
  color: white;
  padding: 3px 5px;
}
.showInfo__outline__body dd {
  padding-left: 8em;
  margin-bottom: 15px;
}
.showInfo__outline__body dd:nth-last-of-type(1) {
  margin-bottom: 0;
}
.showInfo__outline__body dd a {
  position: relative;
  display: inline-block;
}
.showInfo__outline__body dd a::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #ba7472;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.showInfo__outline__body dd a:hover::after {
  transform: scale(1, 1);
}
.showInfo__bnr {
  width: 36%;
}
@media screen and (max-width: 768px) {
  .showInfo__bnr {
    width: 100%;
  }
}
.showInfo__bnr a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 100px;
  color: white;
  font-weight: bold;
  font-size: 21px;
  font-size: 1.3125rem;
  transition: opacity 0.3s ease;
  background-image: url(../img/bnr_brochure.svg);
  margin: 0 auto;
}
.showInfo__bnr a:hover {
  opacity: 0.5;
}

.previousPhoto {
  padding: 50px 0 50px;
  padding-bottom: 80px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .previousPhoto {
    padding: 30px 0 30px;
  }
}
@media screen and (max-width: 768px) {
  .previousPhoto {
    padding-bottom: 50px;
  }
}
.previousPhoto--inner {
  max-width: 800px;
}
.previousPhoto__slider li {
  padding: 0 10px;
}
.previousPhoto__slider li img {
  margin: 0 auto;
}

.links__body {
  background-color: white;
  padding: 20px;
}
.links__body a {
  transition: opacity 0.3s ease;
}
.links__body a:hover {
  opacity: 0.5;
}

.contact {
  padding: 50px 0 50px;
}
@media screen and (max-width: 768px) {
  .contact {
    padding: 30px 0 30px;
  }
}
.contact--inner {
  max-width: 800px;
}
.contact__btn {
  margin: 0 10px 40px;
}
.contact__btn a {
  display: block;
  width: 100%;
  color: white;
  background: #e50012;
  padding: 20px 0;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  border-radius: 10px;
  transition: opacity 0.3s ease;
}
.contact__btn a:hover {
  opacity: 0.5;
}
.contact__box {
  max-width: 800px;
  margin: 0 10px;
  background: white;
  border: 1px solid #dc6a66;
}
.contact__box__title {
  background: #dc6a66;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  color: white;
  padding: 10px 0;
}
.contact__box__address {
  display: flex;
  flex-flow: row nowrap;
}
@media screen and (max-width: 768px) {
  .contact__box__address {
    flex-flow: column;
  }
}
.contact__box__address dl {
  width: 50%;
  padding: 40px 0 0 50px;
}
@media screen and (max-width: 768px) {
  .contact__box__address dl {
    width: 100%;
    padding: 20px;
  }
}
.contact__box__address dl dt {
  font-size: 18px;
  font-size: 1.125rem;
}
.contact__box__address dl dt:nth-of-type(2) {
  margin-bottom: 5px;
}
.contact__box__address dl dd.contact--tel {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 15px;
}
.contact__box__address dl dd.contact--tel span a {
  font-size: 36px;
  font-size: 2.25rem;
  color: darkorange;
}
.contact__box__address dl dd.contact--jma-address {
  font-size: 13px;
  font-size: 0.8125rem;
}
.contact__box__address dl dd.contact--jma-address a {
  display: inline-block;
  margin-bottom: 10px;
  transition: opacity 0.3s ease;
}
.contact__box__address dl dd.contact--jma-address a:hover {
  opacity: 0.5;
}
.contact__box__address figure {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .contact__box__address figure {
    display: none;
  }
}
.contact__box__address figure img {
  width: 100%;
}

.footer {
  background-color: #dc6a66;
  color: white;
  text-align: center;
}
.footer--inner {
  padding-top: 50px;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .footer--inner {
    padding-top: 30px;
  }
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__logo img {
  width: 140px;
}
.footer__nav {
  font-size: 14px;
  font-size: 0.875rem;
  margin-bottom: 10px;
}
.footer__nav li {
  display: inline-block;
}
.footer__nav li + li:before {
  content: "|";
  color: white;
  margin: 0 10px;
}
.footer__nav li a {
  color: white;
}
.footer__copyright {
  font-size: 14px;
  font-size: 0.875rem;
}

#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#page-top a {
  display: block;
  width: 70px;
}
@media screen and (max-width: 768px) {
  #page-top a {
    width: 45px;
  }
}
#page-top a:hover {
  opacity: 0.5;
}

.pageDesc {
  padding: 50px 0 50px;
}
@media screen and (max-width: 768px) {
  .pageDesc {
    padding: 30px 0 30px;
  }
}
.pageDesc--inner {
  max-width: 800px;
}
.pageDesc__lead {
  text-align: center;
  font-weight: bold;
  color: #ba7472;
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.pageDesc__txt {
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .pageDesc__txt {
    padding: 0 10px;
  }
}

.outline {
  padding-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .outline {
    padding-bottom: 50px;
  }
}
.outline--inner {
  max-width: 800px;
}
@media screen and (max-width: 768px) {
  .outline--inner {
    width: 100%;
  }
}
.outline__body {
  background-color: white;
  padding: 20px;
}
.outline__body dt {
  clear: left;
  float: left;
  width: 13em;
  color: #ba7472;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .outline__body dt {
    float: none;
  }
}
.outline__body dd {
  padding-left: 15em;
  padding-bottom: 8px;
  margin-bottom: 15px;
  border-bottom: 1px solid #cccccc;
}
@media screen and (max-width: 768px) {
  .outline__body dd {
    padding-left: 0;
  }
}
.outline__body dd:nth-last-of-type(1) {
  margin-bottom: 0;
}
.outline__body dd a {
  position: relative;
  display: inline-block;
}
.outline__body dd a::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #ba7472;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.outline__body dd a:hover::after {
  transform: scale(1, 1);
}

.figArea {
  padding: 50px 0 50px;
  background-color: white;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .figArea {
    padding: 30px 0 30px;
  }
}
.figArea--inner {
  max-width: 800px;
}
.figArea__title {
  font-size: 28px;
  font-size: 1.75rem;
  text-align: center;
  color: #ba7472;
  font-weight: bold;
  margin-bottom: 30px;
}
.figArea figure + .figArea__title {
  margin-top: 50px;
}

.categoryList {
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
  .categoryList {
    padding-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  .categoryList {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.categoryList--inner {
  max-width: 800px;
}
.categoryList table {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ba7472;
}
.categoryList table tr {
  border: 1px solid #ba7472;
}
.categoryList table tr:nth-child(odd) {
  background-color: rgba(186, 116, 114, 0.1);
}
.categoryList table tr:nth-child(even) {
  background-color: white;
}
.categoryList table tr td a {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  transition: opacity 0.3s ease;
  display: flex;
}
.categoryList table tr td a:hover {
  opacity: 0.5;
}
.categoryList table tr td a:before {
  content: url(../img/arrow_down.svg);
  display: inline-block;
  width: 25px;
  height: 25px;
  padding-right: 10px;
}
.categoryList table tr td br {
  display: none;
}
@media screen and (max-width: 768px) {
  .categoryList table tr td br {
    display: inline;
  }
}
.categoryList__new {
  background-color: orangered;
  color: white;
  margin-left: 10px;
  padding: 0 5px;
}
.categoryList__concurrent {
  background-color: #ba7472;
  color: white;
  padding: 2px 10px;
  margin-right: 10px;
}

.categoryDetail__list, .categoryDetail__txt, .categoryDetail__define {
  border: 1px solid #ba7472;
  margin-bottom: 20px;
  background-color: white;
}

.categoryDetail__list li:before, .categoryDetail__define dt:before {
  content: "●";
  color: #ba7472;
  padding-right: 5px;
}

.categoryDetail {
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
  .categoryDetail {
    padding-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  .categoryDetail {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.categoryDetail--inner {
  max-width: 800px;
}
.categoryDetail--subInner {
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .categoryDetail--subInner {
    width: 100%;
  }
}
.categoryDetail__title {
  margin-bottom: 20px;
}
.categoryDetail__title__concurrent {
  background-color: #ba7472;
  color: white;
  padding: 2px 10px;
  font-size: 18px;
  font-size: 1.125rem;
}
.categoryDetail figure {
  margin-bottom: 20px;
}
.categoryDetail figure img {
  box-shadow: 0 0 10px 0 #ccc;
}
.categoryDetail__list {
  padding: 20px;
}
.categoryDetail__list li {
  display: inline-block;
  line-height: 1.8;
  margin-right: 15px;
}
.categoryDetail__txt {
  padding: 10px;
}
.categoryDetail__define {
  line-height: 1.8;
  padding: 20px;
}
.categoryDetail__define dt {
  color: #ba7472;
  font-weight: bold;
}
.categoryDetail__define dd {
  padding-left: 20px;
}

.deadline {
  padding: 50px 0 50px;
}
@media screen and (max-width: 768px) {
  .deadline {
    padding: 30px 0 30px;
  }
}
@media screen and (max-width: 768px) {
  .deadline {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.deadline--inner {
  max-width: 800px;
}
.deadline__date {
  border: 1px solid #ba7472;
  padding: 20px;
}
.deadline__date dt {
  clear: left;
  float: left;
  width: 25em;
  color: #ba7472;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .deadline__date dt {
    float: none;
  }
}
.deadline__date dd {
  padding-left: 25em;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}
@media screen and (max-width: 768px) {
  .deadline__date dd {
    padding-left: 0;
  }
}
.deadline__date__red {
  color: red;
  font-weight: bold;
}

.feeList {
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .feeList {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .feeList {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.feeList--inner {
  max-width: 800px;
  display: flex;
  flex-flow: row wrap;
  background-color: white;
}
@media screen and (max-width: 768px) {
  .feeList--inner {
    flex-flow: column;
  }
}
.feeList--inner__full {
  width: 100%;
}
.feeList--inner__half {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .feeList--inner__half {
    width: 100%;
  }
}
.feeList__price {
  font-size: 18px;
  font-size: 1.125rem;
  margin: 20px;
}
.feeList__price dt {
  clear: left;
  float: left;
  width: 9em;
  background-color: #ba7472;
  color: white;
  padding: 5px 10px;
}
.feeList__price dd {
  padding: 5px 0 5px 10em;
  margin-bottom: 10px;
  font-weight: bold;
}
.feeList__txt {
  margin: 20px;
}
.feeList__append {
  margin: 20px;
  color: #dc6a66;
  font-weight: bold;
}
.feeList__items {
  font-size: 14px;
  font-size: 0.875rem;
  margin: 15px;
  border: 1px solid #ba7472;
}
.feeList__items__title {
  background-color: #ba7472;
  color: white;
  padding: 5px;
}
.feeList__items__list {
  margin: 15px;
  color: #dc6a66;
  font-weight: bold;
}
.feeList__items__txt {
  margin: 15px;
}
.feeList figure {
  padding: 15px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .feeList figure {
    padding: 5px;
  }
}
@media screen and (max-width: 768px) {
  .feeList figure img {
    max-width: 400px;
  }
}

.schedule {
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .schedule {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .schedule {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.schedule--inner {
  max-width: 800px;
}
.schedule__tbl {
  width: 100%;
  border: 1px solid #ba7472;
}
.schedule__tbl tr {
  background-color: white;
}
.schedule__tbl tr th {
  background-color: #ba7472;
  color: white;
  padding: 15px;
  border-bottom: 1px solid white;
}
.schedule__tbl tr td {
  padding: 15px;
  border-bottom: 1px solid #ba7472;
}
.schedule__tbl tr:last-child th {
  border-bottom: 1px solid #ba7472;
}
.schedule__tbl__define dt {
  clear: left;
  float: left;
  width: 6em;
  font-weight: bold;
}
.schedule__tbl__define dd {
  padding-left: 6em;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #cccccc;
}

.logoBanner {
  padding: 50px 0 50px;
}
@media screen and (max-width: 768px) {
  .logoBanner {
    padding: 30px 0 30px;
  }
}
.logoBanner--inner {
  max-width: 800px;
}
.logoBanner__txt {
  margin: 20px 0;
}
.logoBanner__attention {
  background-color: white;
  border: 1px solid #ba7472;
  padding: 20px;
  line-height: 1.8;
  margin-bottom: 50px;
}
.logoBanner__unit {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
  border: 1px solid #ba7472;
  background-color: white;
}
@media screen and (max-width: 768px) {
  .logoBanner__unit {
    flex-flow: column;
  }
}
.logoBanner__unit-part {
  width: 50%;
  padding: 20px 0;
}
@media screen and (max-width: 768px) {
  .logoBanner__unit-part {
    width: 100%;
  }
}
.logoBanner__unit-part--left {
  padding-left: 20px;
  padding-right: 10px;
}
@media screen and (max-width: 768px) {
  .logoBanner__unit-part--left {
    padding-left: 10px;
  }
}
.logoBanner__unit-part--right {
  padding-left: 10px;
  padding-right: 20px;
}
@media screen and (max-width: 768px) {
  .logoBanner__unit-part--right {
    padding-right: 10px;
  }
}
.logoBanner__unit__title {
  width: 100%;
}
.logoBanner__unit__subTitle {
  font-size: 18px;
  font-size: 1.125rem;
  border-left: 5px solid #ba7472;
  padding-left: 5px;
  margin-bottom: 10px;
}
.logoBanner__unit__img {
  text-align: center;
  border: 1px solid #cccccc;
  padding: 10px;
}
.logoBanner__unit__img img {
  width: 90%;
}
.logoBanner__unit__img img + img {
  padding-top: 10px;
}
.logoBanner__unit__btn {
  margin: 10px 0;
}
.logoBanner__unit__btn a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-size: 0.875rem;
  border: 1px solid #ba7472;
  transition: 0.3s ease;
}
.logoBanner__unit__btn a:hover {
  background-color: #ba7472;
  color: white;
}
.logoBanner__unit__sourceTitle {
  color: #ba7472;
  font-size: 18px;
  font-size: 1.125rem;
  margin: 15px 0;
}
.logoBanner__unit__sourceCode {
  width: 321px;
  overflow: auto;
  word-wrap: break-word;
  border: 1px solid #cccccc;
  margin-bottom: 20px;
  padding: 20px;
  font-family: monospace, monospace;
}
@media screen and (max-width: 768px) {
  .logoBanner__unit__sourceCode {
    width: 100%;
  }
}
.logoBanner__unit__sourceCode pre {
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
